*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.tituloPag {
  background-color: #f0ddee;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color:black;
  text-align: center;

}