.form-cadastro {
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #f6adf0;
    border-radius: 20px;
    box-shadow : 5px 10px 30px #333;
    padding: 2vh 2vw;
    height: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form input, form textarea {
    outline: unset;
    padding: 20px;
    width: 300px;
    border: 1px solid #000;
    border-radius: 20px;
}

form input:focus, form textarea:focus {
    background-color: gainsboro;
}
